.Tabs-content {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: none;
}
.active {
  border-bottom: none;
}
