img {
  height: 280px;
  width: 100%;
}
.caraousel {
  position: relative;
}
.left-icon,
.right-icon {
  position: absolute;
  top: 50%;
  color: white;
  background-color: black;
  border-radius: 10%;
  padding: 4px;
  cursor: pointer;
}
.left-icon {
  left: 4px;
}
.right-icon {
  right: 4px;
}
