.container {
  position: relative;
  height: 30px;
  width: 280px;
  border: 1px solid gray;
  border-radius: 10%;
  overflow: hidden;
}
.progress {
  height: 100%;
  width: 100%;
  position: absolute;
  /* transform: translateX(-40%); */
  background-color: green;
}
